version: '3.8'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - REACT_APP_API_URL=${REACT_APP_API_URL}
    restart: always
    ports:
      - "5001:5001"
    networks:
      - dokploy-network

networks:
  dokploy-network:
    external: true
